<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leo.beziercircleindicator" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IndicatorActivity"
            android:label="@string/title_activity_indicator"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ImageIndicatorActivity"
            android:label="@string/title_activity_image_indicator"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".TextWithImageActivity"
            android:label="@string/title_activity_text_with_image"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
